<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestoCatalog</title>
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <div class="header">
          <nav>
            <div class="logo">
              <a href="#">DineDiscover</a>
            </div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Catalog</a></li>
            </ul>
          </nav>
          <div class="overlay">
            <div class="content">
              <h1>Welcome to DineDiscover</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
                ad laboriosam libero delectus, nemo esse eum quidem temporibus
                architecto tenetur similique, dolores cum. Sunt asperiores
                delectus, et at odit vero?
              </p>
              <button>Let's Look!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
