<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestoCatalog</title>
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <div class="header">
          <nav>
            <div class="logo">
              <a href="#">DineDiscover</a>
            </div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Favorite</a></li>
              <li>
                <a href="https://www.linkedin.com/in/ketutaguscahyadinanda/"
                  >About Us</a
                >
              </li>
            </ul>
            <div id="menu-toggle">&#9776;</div>
          </nav>
          <div id="drawer">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Favorite</a></li>
              <li>
                <a href="https://www.linkedin.com/in/ketutaguscahyadinanda/"
                  >About Us</a
                >
              </li>
            </ul>
          </div>
          <div class="overlay">
            <div class="content">
              <h1>Welcome to <span class="yellow">DineDiscover</span></h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
                ad laboriosam libero delectus, nemo esse eum quidem temporibus
                architecto tenetur similique, dolores cum. Sunt asperiores
                delectus, et at odit vero?
              </p>
              <a href="#restaurant-list">
                <button>Let's Look!</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="restaurant-list">
        <div class="restaurant-card">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/41"
            alt="RestoImage"
          />
          <div class="restaurant-info">
            <div class="restaurant-name">Bring Your Phone Cafe</div>
            <div class="restaurant-city">Medan</div>
            <div class="restaurant-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              error recusandae ad? Magni repellendus repudiandae laborum quo!
              Ipsa recusandae laboriosam aperiam dicta! Pariatur distinctio
              corrupti eligendi perspiciatis sit amet architecto.
            </div>
            <div class="restaurant-rating">&#9733; 4.6</div>
          </div>
        </div>
        <div class="restaurant-card">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/07"
            alt="RestoImage"
          />
          <div class="restaurant-info">
            <div class="restaurant-name">Run The Gun</div>
            <div class="restaurant-city">Bali</div>
            <div class="restaurant-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              error recusandae ad? Magni repellendus repudiandae laborum quo!
              Ipsa recusandae laboriosam aperiam dicta! Pariatur distinctio
              corrupti eligendi perspiciatis sit amet architecto.
            </div>
            <div class="restaurant-rating">&#9733; 4.6</div>
          </div>
        </div>
        <div class="restaurant-card">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/29"
            alt="RestoImage"
          />
          <div class="restaurant-info">
            <div class="restaurant-name">Pangsit Express</div>
            <div class="restaurant-city">Ternate</div>
            <div class="restaurant-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              error recusandae ad? Magni repellendus repudiandae laborum quo!
              Ipsa recusandae laboriosam aperiam dicta! Pariatur distinctio
              corrupti eligendi perspiciatis sit amet architecto.
            </div>
            <div class="restaurant-rating">&#9733; 4.8</div>
          </div>
        </div>
        <div class="restaurant-card">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/38"
            alt="RestoImage"
          />
          <div class="restaurant-info">
            <div class="restaurant-name">Ducky Duck</div>
            <div class="restaurant-city">Malang</div>
            <div class="restaurant-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              error recusandae ad? Magni repellendus repudiandae laborum quo!
              Ipsa recusandae laboriosam aperiam dicta! Pariatur distinctio
              corrupti eligendi perspiciatis sit amet architecto.
            </div>
            <div class="restaurant-rating">&#9733; 4.7</div>
          </div>
        </div>
        <div class="restaurant-card">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/40"
            alt="RestoImage"
          />
          <div class="restaurant-info">
            <div class="restaurant-name">Kafein</div>
            <div class="restaurant-city">Bali</div>
            <div class="restaurant-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              error recusandae ad? Magni repellendus repudiandae laborum quo!
              Ipsa recusandae laboriosam aperiam dicta! Pariatur distinctio
              corrupti eligendi perspiciatis sit amet architecto.
            </div>
            <div class="restaurant-rating">&#9733; 3.8</div>
          </div>
        </div>
        <div class="restaurant-card">
          <img
            src="https://restaurant-api.dicoding.dev/images/medium/08"
            alt="RestoImage"
          />
          <div class="restaurant-info">
            <div class="restaurant-name">Makan Mudah</div>
            <div class="restaurant-city">Malang</div>
            <div class="restaurant-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              error recusandae ad? Magni repellendus repudiandae laborum quo!
              Ipsa recusandae laboriosam aperiam dicta! Pariatur distinctio
              corrupti eligendi perspiciatis sit amet architecto.
            </div>
            <div class="restaurant-rating">&#9733; 4.6</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2023 - DineDiscover</p>
    </div>

    <script src="../scripts/index.js"></script>
  </body>
</html>
